<div class="topbar-left">
  <a
    class=""
    id="sidebarToggle"
    aria-label="Згорнути/розгорнути меню"
    aria-controls="sidebar"
  >
    <!-- Повне лого (коли меню розгорнуте) -->
    <div class="logo logo-full" id="logoFull">
      <img src="/assets/icon/brand/builder/logo-horizontal.jpg" alt="S" />
    </div>

    <!-- Компактне лого (коли меню згорнуте) -->
    <div class="logo logo-compact" id="logoCompact" aria-label="ShiftTime">
      <img src="/assets/icon/brand/builder/logo-icon.png" alt="S" />
    </div>
  </a>
</div>

<div class="top-actions">
  <input
    class="input"
    type="search"
    placeholder="Пошук за назвою, slug, сторінкою..."
  />
</div>
