<div class="sidebar-scroll">
  <nav class="nav" id="sidebar" aria-label="Головне меню">
    <!-- ВАЖЛИВО: без підпунктів, просто список -->
    <!-- ДИНАМІЧНІ ПЛАГІНИ -->
     <p class="pp">Плагіни </p>
    <div id="nav-plugins"></div>
    <br>

    <!-- решта статичних пунктів, якщо треба -->
     <p class="pp">Статичні силки</p>
    <a href="#/orders"><i data-lucide="shopping-cart"></i><span class="label">Замовлення</span></a>
    <a href="#/clients"><i data-lucide="users"></i><span class="label">Клієнти</span></a>
    <a href="#/products"><i data-lucide="package"></i><span class="label">Товари</span></a>
    <a href="#/discounts"><i data-lucide="percent"></i><span class="label">Знижки</span></a>
    <a href="#/marketing"><i data-lucide="megaphone"></i><span class="label">Маркетинг</span></a>
    <a href="#/analytics"><i data-lucide="bar-chart-3"></i><span class="label">Аналітика</span></a>
    <a href="#/projects"><i data-lucide="layout-grid"></i><span class="label">Проекти</span></a>
  </nav>
</div>
